<!DOCTYPE html>
<html lang="en">

{{> head}}

<body>

  <div id="wrapper">

    {{> navbar}}

    {{> sidenav}}

    <div id="page-wrapper">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">Add Global Variable to: {{application_name}}</h1>
        </div>
        <!-- /.col-lg-12 -->
      </div>
      <!-- /.row -->
      <div class="row">
        <div class="col-lg-12">
          {{#if success_message}}
						<div class="alert alert-success">
							{{success_message}}
						</div>
					{{/if}}
					{{#if warning_message}}
						<div class="alert alert-warning">
							{{warning_message}}
						</div>
					{{/if}}
					{{#if error_message}}
						<div class="alert alert-danger">
							{{error_message}}
						</div>
					{{/if}}
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="row">
                <div class="col-lg-6">
                  <form action="/application-variable/action/global/variable/add" role="form" method="post"  >
                    <input name="id" type="hidden" value="{{id}}" />
                    <input name="application_id" type="hidden" value="{{application_id}}" />

                    {{#eq variables.length 0}}
                      <div class="alert alert-warning">
                        This app already has all the global properties!
                      </div>
          					{{/eq}}

                    {{#ne variables.length 0}}
                      <div class="form-group">
                        <label for="sel1">Select a global variable:</label>
                        <br><br>
                        <table class="table table-bordered table-hover table-striped">
                          <thead>
                            <tr>
                              <th scope="col">Var Name</th>
                              <th scope="col">Var Description</th>
                              <th scope="col">Select?</th>
                            </tr>
                          </thead>
                          <tbody>
                            {{#each variables}}
                              <tr  class="table-row" >
                                <td>{{this.name}}</td>
                                <td>{{showValueWithSafeWidth this.description}}</td>
                                <td>
                                  <input type="checkbox" class="form-check-input" id="{{this.id}}" name="global_var_id_selected_{{this.id}}">
                                </td>
                              </tr>
                            {{/each}}
                          </tbody>
                        </table>
                      </div>
                      <button type="submit" class="btn btn-outline btn-primary">Submit</button>
          					{{/ne}}
                    <a href="/application-variable?application_id={{application_id}}" type="button" class="btn btn-outline btn-primary">Cancel</a>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{> scripts}}

</body>

</html>
