<!DOCTYPE html>
<html lang="en">

{{> head}}

<body>

  <div id="wrapper">

    {{> navbar}}

    {{> sidenav}}

    <div id="page-wrapper">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">New Application</h1>
        </div>
        <!-- /.col-lg-12 -->
      </div>
      <!-- /.row -->
      <div class="row">
        <div class="col-lg-12">
          {{#if success_message}}
						<div class="alert alert-success">
							{{success_message}}
						</div>
					{{/if}}
					{{#if warning_message}}
						<div class="alert alert-warning">
							{{warning_message}}
						</div>
					{{/if}}
					{{#if error_message}}
						<div class="alert alert-danger">
							{{error_message}}
						</div>
					{{/if}}
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="row">
                <div class="col-lg-6">
                  <form action="/application/action/save" role="form" method="post"  >
                    <input name="id" type="hidden" value="{{application.id}}" />
                    <div class="form-group">
                      <label>Name</label>
                      <input name="name" required=true class="form-control" placeholder="Enter text" value="{{application.name}}" onchange="this.value = $(this).val().trim()" />
                    </div>
                    <div class="form-group">
                      <label>Description</label>
                      <input name="description"  required=true  class="form-control" placeholder="Enter text" value="{{application.description}}" />
                    </div>
                    <div class="form-group">
                     <label for="sel1">Select type:</label>
                     <select name="type"  class="form-control">
                       {{#select application.type}}
                         <option value="API" >Api Rest</option>
                         <option value="WEB" >Web</option>
                         <option value="MOB" >Mobile</option>
                         <option value="MON" >Monolith</option>
                         <option value="ETL" >ETL</option>
                         <option value="SCH" >Scheduler</option>
                         <option value="CMS" >CMS</option>
                         <option value="ERP" >ERP</option>
                         <option value="CRM" >CRM</option>
                         <option value="REP" >Report Platform</option>
                         <option value="HYB" >Hybrid</option>
                         <option value="UNK" >Unknown</option>
                       {{/select}}
                     </select>
                   </div>
                    <button type="submit" class="btn btn-outline btn-primary">Submit</button>
                    <a href="/" type="button" class="btn btn-outline btn-primary">Cancel</a>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {{> scripts}}

</body>

</html>
