<!DOCTYPE html>
<html lang="en">

{{> head}}

<body>

  <div id="wrapper">

    {{> navbar}}

    {{> sidenav}}

    <div id="page-wrapper">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">Add Global Variable</h1>
        </div>
        <!-- /.col-lg-12 -->
      </div>
      <!-- /.row -->
      <div class="row">
        <div class="col-lg-12">
          {{#if success_message}}
						<div class="alert alert-success">
							{{success_message}}
						</div>
					{{/if}}
					{{#if warning_message}}
						<div class="alert alert-warning">
							{{warning_message}}
						</div>
					{{/if}}
					{{#if error_message}}
						<div class="alert alert-danger">
							{{error_message}}
						</div>
					{{/if}}
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="row">
                <div class="col-lg-6">
                  <form action="/application-variable/action/global/variable/add" role="form" method="post"  >
                    <input name="id" type="hidden" value="{{id}}" />
                    <input name="application_id" type="hidden" value="{{application_id}}" />
                    <input name="variable_id" type="hidden" value="{{variable.id}}" />
                    <div class="form-group">
                      <label for="sel1">Select a global variable:</label>
                        <!-- TODO: Use a table instead select -->
                      <select name="selectedGlobalVariableId" class="form-control">
                        <option value="-1">---</option>
                        {{#each variables}}
                          <option value="{{this.id}}">Global variable name: [{{this.name}}] > Variable Description: {{this.description}}</option>
                        {{/each}}
                      </select>
                    </div>
                    <button type="submit" class="btn btn-outline btn-primary">Submit</button>
                    <a href="/application-variable" type="button" class="btn btn-outline btn-primary">Cancel</a>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{> scripts}}

</body>

</html>
