<!DOCTYPE html>
<html lang="en">

{{> head}}

<body>

	<div id="wrapper">

		{{> navbar}}

		{{> sidenav}}

		<div id="page-wrapper">
			<div class="row">
				<div class="col-lg-12">
					<h1 class="page-header">Global Variables</h1>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					{{#if success_message}}
						<div class="alert alert-success">
							{{success_message}}
						</div>
					{{/if}}
					{{#if warning_message}}
						<div class="alert alert-warning">
							{{warning_message}}
						</div>
					{{/if}}
					{{#if error_message}}
						<div class="alert alert-danger">
							{{error_message}}
						</div>
					{{/if}}
					{{#if error_security_message}}
						<div class="alert alert-danger">
							{{error_security_message}}
						</div>
					{{/if}}
					<div class="panel panel-default">
						<div class="panel-body">
							<div class="table-responsive">
								<table class="table table-bordered table-hover table-striped">
									<thead>
										<tr>
											<th>#</th>
											<th>Name</th>
											<th>Type</th>
											<th>Value</th>
											<th>Description</th>
											<th style="text-align: center;">Manage</th>
										</tr>
									</thead>
									<tbody>

										{{#each globalVariables}}
											<tr class="table-row">
												<td>{{incremented @index}}</td>
												<td>{{this.name}}</td>
												{{#eq this.type 'P'}}
												<td>Plain</td>
												{{/eq}}
												{{#eq this.type 'S'}}
												<td>Secret</td>
												{{/eq}}
                        {{#eq this.type 'P'}}
  												<td>{{showValueWithSafeWidth this.value}}</td>
  											{{else}}
  												<td>****</td>
  											{{/eq}}
												<td>{{showValueWithSafeWidth this.description}}</td>
												<td style="text-align: center;">
                          {{#stringEquals @root.userRole 'reader'}}
                            <a href="/global-variable/view/read/{{this.id}}" type="button" class="btn btn-outline btn-primary fa fa-eye"
                            data-toggle="tooltip" data-placement="top" title="View"></a>
                          {{/stringEquals}}

                          {{#stringEquals @root.userRole 'admin'}}
                            <a href="/global-variable/view/edit/{{this.id}}" type="button" class="btn btn-outline btn-primary fa fa-pencil-square-o"
                            data-toggle="tooltip" data-placement="top" title="Edit"></a>
														<!-- @TODO:validate relationships before delete -->
														<a href="/global-variable/view/delete/{{this.id}}" type="button" class="btn btn-outline btn-primary fa fa-times"
														data-toggle="tooltip" data-placement="top" title="Delete"></a>
                          {{/stringEquals}}
													</a>
												</td>
											</tr>
										{{/each}}
									</tbody>
								</table>
							</div>
						</div>
					</div>
          {{#stringEquals userRole 'admin'}}
              <a href="/global-variable/view/new" type="button" class="btn btn-outline btn-primary">New Global Var</a>
					{{/stringEquals}}
					<br>
					<br>
				</div>
			</div>
		</div>

		<!-- /#page-wrapper -->

	</div>
	<!-- /#wrapper -->

	{{> scripts}}

</body>

</html>
